* {
  font-family: 'Roboto', sans-serif;
}

/* ---------- HEADER ---------- */

header .top-header {
  height: 30px;
  background-color: black;
}

header .top-header img {
  width: 100px;
}

header nav i {
  cursor: pointer;
}

/* JUMBOTRON */

.jumbotron {
  width: 100vw;
}

.jumbotron .top-jumbotron {
  background-image: url(../img/jumbo-bg.png);
  height: 500px;
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.jumbotron .top-jumbotron img {
  width: 150px;
}

.jumbotron .bottom-jumbotron img{
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  cursor: pointer;
}

.jumbotron .bottom-jumbotron .row div:first-child img{
  border: 2px solid skyblue;
}

/* ---------- MAIN ---------- */

/* FIRST SECTION */
.first-section {
  max-width: 1200px;
}

.first-section-product {
  width: 100%;
  min-width: 150px;
}

.first-section .row div img {
  width: 100%;
}

.first-section .products img {
  width: 100%;
}

.first-section .products div {
  margin: 10px 0;
  width: 150px;
  cursor: pointer;
}

.first-section .products .selected {
  border-bottom: 3px solid skyblue;
}

.first-section .products .no-selected{
  filter: grayscale(1);
  filter: opacity(0.8);
}

.first-section .products .no-selected:hover{
  filter: grayscale(0);
  filter: opacity(1);
}

/* SECOND SECTION */

.second-section .it-takes {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.second-section .it-takes img{
  width: 250px;
}

.second-section .new-releases {
  background-color: #1f1f1f;
  color: white;
}

.second-section .new-releases img{
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  cursor: pointer;
}

/* THIRD SECTION */

.third-section .row img{
  width: 100%;
}

/* FOURTH SECTION */

.fourth-section {
  background-color: lightgrey;
}

.fourth-section .row .plus-logo{
  width: 200px;
}

.fourth-section .plus-image{
  height: 100%;
  background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain; 
}

/* FIFTH SECTION */

.fifth-section .discount-img{
  width: 100%;
  cursor: pointer;
}


/* SIXTH SECTION */

.sixth-section {
  background-color: #161c3b;
  color: white;
}

.sixth-section .row .plus-logo{
  width: 250px;
}

.sixth-section .now-image{
  height: 100%;
  background-image: url("../img/ps-now-april-featured-image-block.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain; 
}

/* SEVENTH SECTION */

.seventh-section img{
    width: 100%;
    cursor: pointer;
}

/* ---------- FOOTER ---------- */

footer {
  background-color: #00439c;
  color: white;
  padding-bottom: 100px;
}

footer .footer-logo {
  width: 100px;
}

footer .language {
  width: 20px;
}

footer .link-footer li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

footer .copyright-image {
  width: 130px;
}