* {
  font-family: 'Roboto', sans-serif;
}

/* ----------HEADER---------- */

header .top-header {
  height: 30px;
  background-color: black;
}

header .top-header img {
  width: 100px;
}

header nav i {
  cursor: pointer;
}

/* JUMBOTRON */

.jumbotron .top-jumbotron {
  background-image: url(../img/jumbo-bg.png);
  height: 500px;
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.jumbotron .top-jumbotron img {
  width: 150px;
}

.jumbotron .bottom-jumbotron img{
  height: 70px;
  border-radius: 15px;
  padding: 2px;
  cursor: pointer;
}

.jumbotron .bottom-jumbotron .row div:first-child img{
  border: 2px solid skyblue;
}

@media screen and (min-device-width: 1200px) {
  .jumbotron .bottom-jumbotron img{
    height: 100px
  }
}

/* ----------MAIN---------- */

section {
  max-width: 1500px;
}

.first-section .row div img {
  width: 300px;
}
